<!-- <section>
     <div id="quizbox" class="">
     <div id="subtitle" class="ssib">
     <h4 class="animated slideInRight">ackNack</configtxt></h4>
     </div>
     <div id="intro-text" class="animated slideInRight">
     
     </div>
     </div>
     </section> -->

<!-- orange: rescuee -->
<!-- green: rescuer -->
<ion-view >
  <div id="main" class="role{{vm.role}}">

<!--
  <div id="restart" style="margin-bottom: 2em;">
    <button ion-button round ng-click="vm.restart()">Reset everything and start anew?</button>
  </div>
-->

  <div id="not-connected" ng-show="!vm.pushConnected">Connecting...
    <button ion-button round ng-click="vm.initialise();">Retry</button>
  </div>

  <div id="connected" ng-show="vm.pushConnected===true">
    <p>Connected.</p>


    <div class="inbound" style="border: 1px solid silver; border: 4px; padding: 11px;" >
      {{vm.inbound.rendered}}
    </div>

  </div>


  <button ion-button round ng-click="vm.startCodeScan()">Scan a QR Code</button>

  <div ng-show="vm.uuid!=false">
    UUID:{{vm.uuid}}

    <div>{{vm.subscriptionFeedback}}</div>
    <div id="pingOther">
      <button ion-button round ng-click="vm.pingOther();" >Ping the other!</button>
    </div>
  </div>
</ion-view>

