<ion-view >
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="../main/css/main.css">
  </head>
  <body>
    <h1>Show You Care Park Elswehre</h1>
    <img src="css/logo.png"></img>

  <div id="main">

  <div id="not-connected" ng-show="!vm.pushConnected"><p>Connecting...</p>
    <button ion-button round ng-click="vm.initialise();">Retry</button>
  </div>

  <div id="connected" ng-show="vm.pushConnected===true">
    <p>Connected.</p>
  </div>

  <div style="padding:16px;" ng-show="vm.deviceId!==false">
    <div ng-show="vm.activity===vm.ACTIVITY.SCAN">
      <button ion-button round ng-click="vm.startCodeScan()">Scan QR Code</button>
    </div>
    </div>
  </div>

  <div ng-show="vm.uuid!=false">
    <p>UUID: vm.uuid</p>
    <!-- UUID:{{vm.uuid}}-->
    <p>vm.subscriptionFeedback</p>
    <!-- {{vm.subscriptionFeedback}}-->
  </div>
</body>
</ion-view>

